@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-everpay {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #3CA55C;

    --background: 147 30.549999999999997% 3.52%;
    --foreground: 147 4.699999999999999% 97.2%;

    --muted: 147 23.5% 13.2%;
    --muted-foreground: 147 4.699999999999999% 54.4%;

    --popover: 147 55.6% 5.72%;
    --popover-foreground: 147 4.699999999999999% 97.2%;

    --card: 147 55.6% 5.72%;
    --card-foreground: 147 4.699999999999999% 97.2%;
    --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);

    --border: 147 23.5% 13.2%;
    --input: 147 23.5% 13.2%;

    --primary: 147 47% 44%;
    --primary-foreground: 147 4.699999999999999% 97.2%;

    --secondary: 147 23.5% 13.2%;
    --secondary-foreground: 147 4.699999999999999% 97.2%;

    --accent: 147 23.5% 13.2%;
    --accent-foreground: 147 4.699999999999999% 97.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 147 4.699999999999999% 97.2%;

    --ring: 147 47% 44%;
}

:root {
  --white-gradient: linear-gradient(
    144.39deg,
    #000000 -278.56%,
    #6d6d6d -78.47%,
    #dddddd 91.61%
  );
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #92f57a 0.89%,
    #cbf5be 17.23%,
    #9df0a6 42.04%,
    #9beb7d 55.12%,
    #56b967 71.54%,
    #23b13c 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #676666 0%, #0a0a10ad 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.green__gradient {
  background: linear-gradient(180deg, rgba(86, 185, 103, 1) 0%, #3CA55C 100%);
  filter: blur(123px);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.bn62 {
  color: #1cc49d;
  background-color: #1b2f31;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 8em;
  font-size: large;
  font-weight: 600;
}
